*   {
    margin: 0;
    padding: 0;
}

body    {
    margin: 50px 5px;
    font-family: Helvetica;
}

h1  {
    background-image: url('../images/pattern.jpeg');
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    color: khaki;
}

h2  {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3  {
    margin-bottom: 15px;
}

header  {
    margin-bottom: 50px;
}

figure {
    margin-bottom: 15px;
    margin-top: 15px;
}

p   {
    margin-bottom: 25px;
}

.brushes    {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint  {
    background-color: skyblue;
}

.price  {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

